<div class="list-container">
  <p>
    {{ session.sessionDate | dateFormat }} # {{ session.plannedActivities }}
  </p>
  <div class="table-container">
    <!-- <table>
      <thead>
        <tr *ngIf="session.plannedActivities == 'Vacinação'">
          <th>Brinco do porco</th>
          <th *ngFor="let vaccine of session.vaccines">
            {{ vaccine }}
          </th>
        </tr>
        <tr *ngIf="session.plannedActivities != 'Vacinação'">
          <th>Brinco do porco</th>
          <th>{{ session.plannedActivities }}</th>
        </tr>
      </thead>
      <tbody *ngIf="session.plannedActivities == 'Vacinação'">
        <tr class="sessao" *ngFor="let tag of suinoActivities">
          <td>{{ tag.earTag }}</td>
          <td>
            <ng-container *ngIf="tag.activity && (Array.isArray(tag.activity) || tag.activity.hasOwnProperty('length'))">
              <span *ngFor="let vaccine of [tag.activity]">{{ vaccine }}</span>
            </ng-container>
            <ng-container *ngIf="!Array.isArray(tag.activity)">{{ tag.activity }}</ng-container>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="session.plannedActivities != 'Vacinação'">
        <tr class="sessão" *ngFor="let tag of suinoActivities">
          <td>{{ tag.earTag }}</td>
          <td>
            <ng-container *ngIf="tag.activity">
              <span *ngIf="Array.isArray(tag.activity)">{{ tag.activity[0].name }}</span>
              <span *ngIf="!Array.isArray(tag.activity)">{{ tag.activity.name }}</span>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>
