<div class="list-container">
  <p>
    {{ session.sessionDate | dateFormat }} # {{ session.plannedActivities }}
  </p>
  <div class="table-container">
    <table>
      <thead>
        <tr *ngIf="session.plannedActivities == 'Vacinação'">
          <th>Brinco do porco</th>
          <th *ngFor="let vaccine of session.vaccines">{{ vaccine }}</th>
        </tr>
        <tr *ngIf="session.plannedActivities != 'Vacinação'">
          <th>Brinco do porco</th>
          <th>{{ session.plannedActivities }}</th>
        </tr>
      </thead>
      <tbody *ngIf="session && session.plannedActivities == 'Vacinação'">
        <tr class="sessão" *ngFor="let item of suinoActivities; let i = index">
          <td>{{ item.earTag }}</td>
          <td *ngFor="let vaccine of item.activity; let j = index">
            <select
              [(ngModel)]="vaccine.status"
              (change)="updateVaccineStatus(item.id, j, vaccine.status)"
            >
              <option [ngValue]="true">Concluído</option>
              <option [ngValue]="false">Não concluído</option>
            </select>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="session.plannedActivities != 'Vacinação'">
        <tr class="sessão" *ngFor="let item of suinoActivities; let i = index">
          <td>{{ item.earTag }}</td>
          <td>
            <select
              [(ngModel)]="item.activity.status"
              (change)="updateActivityStatus(item.id, item.activity.status)"
            >
              <option [ngValue]="true">Concluído</option>
              <option [ngValue]="false">Não concluído</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
