<div class="details">
    <div class="details-container">
        <div class="infos">
            <h1>Detalhes da Sessão</h1>
            <p>Data da sessão: {{ session.sessionDate | dateFormat }}</p>
            <p>Detalhes da sessão: {{ session.sessionDescription }}</p>
            <p>Brincos dos porcos: {{ session.animalTags }}</p>
            <!-- <ul>
                <li *ngFor="let tag of session.animalTags">{{ tag }}</li>
            </ul> -->
            <p>Atividades planejadas: {{ session.plannedActivities }}</p>
            <!-- <ul *ngIf="session.plannedActivities == 'Vacinação'">
                <li *ngFor="let vacina of session.vaccines">{{ vacina }}</li>
            </ul> -->
            <p *ngIf="session.plannedActivities == 'Vacinação'">Vacinas: {{ session.vaccines }}</p>
        </div>
        
    </div>
</div>