.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    padding: 35px 50px;

    img {
        width: 150px;
        height: 100px;
        cursor: pointer;
    }

    nav {
        display: flex;
        gap: 25px;

        a,
        p {
            text-decoration: inherit;
            cursor: pointer;
            color: #333;
            font-weight: bold;
            font-size: 26px;
        }
    }

}